@media (max-width: 425px) {
    .menuButton {
        /* background-color: #007BFF; */
        background-color: orangered;
        width: 250px;
        margin: 0px -65px
    }
}

.menuButton {
    /* background-color: #007BFF; */
    background-color: orangered;
    width: 500px;
    margin: 0px -195px;
}

.menuButton a {
    color: white;
    font-family: Poppins;
    transition: color 0.3s ease-in-out;
}

.menuButton a:hover {
    color: greenyellow;
    font-family: Poppins;
}

.categoriesList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* Filas con un ancho mínimo de 200px */
    list-style: none;
    padding: 10px;
    background-color: orangered;
    text-align: center;
    line-height: 35px;
}

.categoriesList li {
    font-size: 0.9rem;
    font-family: Poppins;
    font-weight: 300;
}

.categoriesList a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.categoriesList a:hover {
    color: greenyellow
}