.categoriesList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* Filas con un ancho mínimo de 200px */
    list-style: none;
    padding: 10px;
    background-color: orangered;
    text-align: center;
    line-height: 35px;
    width: 250px;
    margin: 0px -65px;
}

@media (min-width: 768px) {
    .categoriesList {
        width: 450px;
        margin: 0px -195px;
    }
}

@media (min-width: 1024px) {
    .categoriesList {
        width: 500px;
        margin: 0px -195px;
    }
}

.menuButton {
    background-color: orangered;
}

.menuButton a {
    color: white;
    font-family: Poppins;
    transition: color 0.3s ease-in-out;
}

.menuButton a:hover {
    color: greenyellow;
    font-family: Poppins;
}

.categoriesList li {
    font-size: 0.9rem;
    font-family: Poppins;
    font-weight: 300;
}

.categoriesList a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.categoriesList a:hover {
    color: greenyellow
}