.cardImg {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
    margin: '0 auto'
}

.cardName {
    text-align: center;
    color: grey !important;
    font-family: Poppins;
    font-size: 0.9rem !important;
}

.cardPrice {
    text-align: center;
    font-family: poppins;
}

.cardContainer {
    transition: all 0.2s ease-in-out;
}

.cardContainer:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cardLink {
    text-decoration: none;

}