@media (min-width: 1024px) {
    .bannerCarousel {
        display: block;
    }
}

@media (max-width: 1023px) {
    .bannerCarousel {
        display: none;
    }
}

.homeTitle {
    font-family: Poppins;
    text-align: center;
    color: #007BFF;
    letter-spacing: 8px;
}

.homeText {
    font-family: Poppins;
    color: grey;
}