@media (max-width: 1024px) {
    .HeaderUp {
        display: none;
        background-color: #007BFF;
        color: white;
        font-family: poppins;
        font-weight: 400;
        text-align: center;
    }

    .offCanvas {
        background: radial-gradient(circle, #0085ff 25%, transparent 26%), radial-gradient(circle at bottom left, #0085ff 12%, transparent 13%), radial-gradient(circle at bottom right, #0085ff 12%, transparent 13%), radial-gradient(circle at top left, #0085ff 12%, transparent 13%), radial-gradient(circle at top right, #0085ff 12%, transparent 13%);
        background-size: 1em 1em;
        background-color: #007BFF;
        opacity: 1
    }

    .formSearch {
        padding-bottom: 40px;
    }
}

@media (min-width: 1025px) {
    .HeaderUp {
        color: white;
        font-family: poppins;
        font-weight: 400;
        font-size: 14px;
        padding: 3px;
        text-align: center;
        background-color: #007BFF;
    }
}

.header {
    /* background: rgb(39, 84, 223);
    background: linear-gradient(90deg, rgba(39, 84, 223, 1) 0%, rgba(11, 55, 196, 1) 100%); */
    background: radial-gradient(circle, #0085ff 25%, transparent 26%), radial-gradient(circle at bottom left, #0085ff 12%, transparent 13%), radial-gradient(circle at bottom right, #0085ff 12%, transparent 13%), radial-gradient(circle at top left, #0085ff 12%, transparent 13%), radial-gradient(circle at top right, #0085ff 12%, transparent 13%);
    background-size: 1em 1em;
    background-color: #007BFF;
    opacity: 1
}

.headerContainer {
    max-width: 1200px;
    margin: auto;
}

.typo {
    color: white !important;
    font-family: poppins;
}

.logo {
    width: 120px;
    padding-bottom: 10px;
}

.menuButton {
    background-color: white !important;
}

.buttonContainer {
    position: relative;
    display: inline-block;
}

.shopNumber {
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: white;
    color: #007BFF;
    font-size: 12px;
    border-radius: 50%;
}

.categoriesButton {
    /* background-color: #007BFF; */
    background-color: orangered;
}