.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 75%;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  overflow-y: auto;
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

.cancelButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.iconClose {
  font-size: 24px;
  color: #007BFF;
}

.cardImage {
  max-width: 100%;
  max-height: 35px;
  margin-bottom: 10px;
  padding-right: 25px;
}

.textItems {
  border: solid 3px;
  border-radius: 5px;
  background-color: white;
  border-color: #007BFF;
  padding: 10px;
  transition: all 0.3s;
}

.textItems:hover {
  background-color: #007BFF;
  color: white;
}

.textItems p {
  font-family: Poppins;
  font-weight: 500;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.textItems small {
  font-family: Poppins;
  font-weight: 300;
  margin-right: 15px;
  font-size: 12px;
}

.itemsIcon {
  margin-right: 15px;
  margin-left: 5px;
}

.subtitulo {
  font-family: Poppins;
  text-align: center;
  color: #007BFF;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.categoryName {
  text-transform: uppercase;
  color: gray;
  letter-spacing: 5px;
  font-family: Poppins;
}

.productName {
  text-transform: capitalize;
  font-family: Poppins;
  font-weight: 600;
  font-size: 2rem !important;
}

.productPrice {
  font-family: Poppins;
  font-weight: 400 !important;
  font-size: 2rem !important;
  margin-bottom: 5px !important;
}

.productStock {
  text-transform: uppercase;
  color: gray;
  font-family: Poppins;
  font-size: .875em;
}

.productPay {
  font-family: Poppins;
  text-decoration: none;
  color: #007BFF;
  transition: 0.5s;
  cursor: pointer;
}

.productPay:hover {
  color: orangered
}

.specification {
  font-family: Poppins;
  color: grey;
}

@media screen and (max-width: 425px) {
  .modalContainer {
    width: 85%;
  }

  .infoContainer {
    text-align: center;
  }

  .containerCustomcharacteristics h4 {
    font-family: Poppins;
    text-align: center;
    color: #007BFF;
    letter-spacing: 5px;
  }

  .containerCustomcharacteristics p {
    font-family: Poppins;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .containerCustomcharacteristics p:hover {
    white-space: normal;
    overflow: visible;
    text-overflow: initial;

  }
}

/* Estilos para vista de tablet (768px) */
@media screen and (min-width: 768px) {
  .modalContainer {
    width: 75%;
  }

  .containerCustomDetails {
    display: flex;
    justify-content: center;
  }

  .product-details h2 {
    font-size: 1.2rem;
  }

  .product-details p {
    font-weight: bold;
  }

  .product-details ul {
    font-size: 0.8rem;
    list-style: circle;
    margin-left: 1.5rem;
  }

  .textItems {
    margin-bottom: 1rem;
  }

  .itemsIcon {
    font-size: 1.5rem;
    margin-right: 10px;
  }

  .containerCustomButton {
    width: 50%;
  }

  .containerCustomDetails h2 {
    font-size: 1.9rem;
  }

  .containerCustomcharacteristics h4 {
    font-family: Poppins;
    text-align: center;
    color: #007BFF;
    letter-spacing: 5px;
  }

  .containerCustomcharacteristics p {
    font-family: Poppins;
    line-height: 25px;
  }

  .containerCustomcharacteristics ul {
    display: flex;
    width: 40%;
  }

  .containerCustomcharacteristics li {
    font-size: 20px;
    padding: 6px;
  }
}