.sliderContainerDesktop {
    width: 100%;
    margin: 5% auto;
}

.sliderContainerDesktop img {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
    margin: auto;
    /* transition: all 0.3s; */
}

/* .sliderContainerDesktop img:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
} */

.sliderContainerMobile {
    width: 100%;
    margin: 5% auto;
}

.sliderContainerMobile img {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
    margin: auto;
}

.structure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.structure p {
    font-family: Poppins;
    font-size: 0.9rem;
    padding-top: 25px;
}