.carousel-control-next {
  z-index: 0;
}

.carousel-control-prev {
  z-index: 0;
}

.carousel-indicators {
  z-index: 0;
}

.carousel-control-next-icon {
  background-image: url(/public/next.svg);
}

.carousel-control-prev-icon {
  background-image: url(/public/prev.svg);
}

.custom-carousel-item {
  text-align: center;
  outline: none;
  border-radius: 6px;
}

@media screen and (max-width: 425px) {
  .carousel-container {
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid rgba(206, 206, 206, 0.795);
    border-radius: 10px;
    padding: 10px;
    background-color: white;
  }

  .custom-carousel-item img {
    width: 100%;
    aspect-ratio: 5/4;
    object-fit: contain;
    margin: 0 auto;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .carousel-container {
    max-width: 50%;
    margin: 0 auto;
    border: 1px solid rgba(206, 206, 206, 0.795);
    border-radius: 10px;
    padding: 10px;
    background-color: white;
  }

  .custom-carousel-item img {
    width: 100%;
    aspect-ratio: 5/4;
    object-fit: contain;
    margin: 50% 0;
  }
}

@media screen and (min-width: 769px) {
  .carousel-container {
    max-width: 50%;
    margin: 0 auto;
    border: 1px solid rgba(206, 206, 206, 0.795);
    border-radius: 10px;
    padding: 10px;
    background-color: white;
  }

  .custom-carousel-item img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: contain;
    margin: 0;
  }
}